{% extends 'bootstrap.html' %}
{% load static %}

{% load bootstrap3 %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block bootstrap3_title %}Projeto ia</title>
        

    {% endblock %}
</head>

{% block bootstrap3_content %}
	{% include 'includes/_menu_principal.html' %}
    <div class="container">
        <h1>{% block title %}(no title){% endblock %}</h1>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
    </div>
    <br>
    <br>
    <br>
    {% include 'includes/_barra_status.html' %}
{% endblock %}